*.synctex.gz
*.synctex.gz(busy)
*.smcl
*.DS_Store
*.zip
*.nav
*.snm
*.lot
*.toc
*.xwm
*.tex.bak
*.bbl
*.blg
*.aux
*.out
*.log

*.pdf
*-eps-converted-to.pdf
*.gph

*.csv
*.dta

*.xls
*.xlsx
*.doc
*.docx
*.ppt
*.pptx
